"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    hideGitIgnoredFiles: true
    projectHome: "~/Code/"
  editor:
    fontFamily: "Hack"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "go-plus":
    goPath: "~/Code/Go"
  "go-rename": {}
  gofmt:
    formatTool: "goreturns"
  linter:
    showErrorPanel: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    showIcons: true
  welcome:
    showOnStartup: false
